<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.towcent.dist.shop.app.server.mall.dao.OrderMainMapper" >
  	<resultMap id="BaseResultMap" type="com.towcent.dist.shop.app.client.mall.dto.OrderMain" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_type" property="orderType" jdbcType="CHAR" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="order_status" property="orderStatus" jdbcType="CHAR" />
		<result column="pay_status" property="payStatus" jdbcType="CHAR" />
		<result column="pay_way" property="payWay" jdbcType="CHAR" />
		<result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
		<result column="pay_inter" property="payInter" jdbcType="DECIMAL" />
		<result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
		<result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
		<result column="consignee_addr" property="consigneeAddr" jdbcType="VARCHAR" />
		<result column="total_qty" property="totalQty" jdbcType="INTEGER" />
		<result column="freight_fee" property="freightFee" jdbcType="DECIMAL" />
		<result column="freight_number" property="freightNumber" jdbcType="VARCHAR" />
		<result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR" />
		<result column="logistics_name" property="logisticsName" jdbcType="VARCHAR" />
		<result column="is_eval" property="isEval" jdbcType="CHAR" />
		<result column="sale_after_remarks" property="saleAfterRemarks" jdbcType="VARCHAR" />
		<result column="sale_after_date" property="saleAfterDate" jdbcType="TIMESTAMP" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="INTEGER" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="del_flag" property="delFlag" jdbcType="CHAR" />
		<result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
		<result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
		<result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
  	</resultMap>
  	<sql id="Base_Column_List" >
  	  	a.id, a.order_type, a.order_no, a.order_status, a.pay_status, a.pay_way, a.total_amount, a.amount, a.pay_amount, a.pay_inter, a.coupon_amount, a.consignee_name, a.mobile_phone, a.consignee_addr, a.total_qty, a.freight_fee, a.freight_number, a.logistics_no, a.logistics_name, a.is_eval, a.sale_after_remarks, a.sale_after_date, a.remarks, a.create_by, a.create_date, a.update_by, a.update_date, a.del_flag, a.pay_date, a.delivery_time, a.merchant_id
  	</sql>
	<sql id="condition" >
    	<if test="null!=params" >
      		<if test="params.id != null" >
        		and a.id = #{params.id,jdbcType=INTEGER}
      		</if>
      		<if test="params.orderType != null and '' != params.orderType" >
        		and a.order_type = #{params.orderType,jdbcType=CHAR}
      		</if>
      		<if test="params.orderNo != null and '' != params.orderNo" >
        		and a.order_no = #{params.orderNo,jdbcType=VARCHAR}
      		</if>
      		<if test="params.orderStatus != null and '' != params.orderStatus" >
        		and a.order_status = #{params.orderStatus,jdbcType=CHAR}
      		</if>
      		<if test="params.payStatus != null and '' != params.payStatus" >
        		and a.pay_status = #{params.payStatus,jdbcType=CHAR}
      		</if>
      		<if test="params.payWay != null and '' != params.payWay" >
        		and a.pay_way = #{params.payWay,jdbcType=CHAR}
      		</if>
      		<if test="params.totalAmount != null" >
        		and a.total_amount = #{params.totalAmount,jdbcType=DECIMAL}
      		</if>
      		<if test="params.amount != null" >
        		and a.amount = #{params.amount,jdbcType=DECIMAL}
      		</if>
      		<if test="params.payAmount != null" >
        		and a.pay_amount = #{params.payAmount,jdbcType=DECIMAL}
      		</if>
      		<if test="params.payInter != null" >
        		and a.pay_inter = #{params.payInter,jdbcType=DECIMAL}
      		</if>
      		<if test="params.couponAmount != null" >
        		and a.coupon_amount = #{params.couponAmount,jdbcType=DECIMAL}
      		</if>
      		<if test="params.consigneeName != null and '' != params.consigneeName" >
        		and a.consignee_name = #{params.consigneeName,jdbcType=VARCHAR}
      		</if>
      		<if test="params.mobilePhone != null and '' != params.mobilePhone" >
        		and a.mobile_phone = #{params.mobilePhone,jdbcType=VARCHAR}
      		</if>
      		<if test="params.consigneeAddr != null and '' != params.consigneeAddr" >
        		and a.consignee_addr = #{params.consigneeAddr,jdbcType=VARCHAR}
      		</if>
      		<if test="params.totalQty != null" >
        		and a.total_qty = #{params.totalQty,jdbcType=INTEGER}
      		</if>
      		<if test="params.freightFee != null" >
        		and a.freight_fee = #{params.freightFee,jdbcType=DECIMAL}
      		</if>
      		<if test="params.freightNumber != null and '' != params.freightNumber" >
        		and a.freight_number = #{params.freightNumber,jdbcType=VARCHAR}
      		</if>
      		<if test="params.logisticsNo != null and '' != params.logisticsNo" >
        		and a.logistics_no = #{params.logisticsNo,jdbcType=VARCHAR}
      		</if>
      		<if test="params.logisticsName != null and '' != params.logisticsName" >
        		and a.logistics_name = #{params.logisticsName,jdbcType=VARCHAR}
      		</if>
      		<if test="params.isEval != null and '' != params.isEval" >
        		and a.is_eval = #{params.isEval,jdbcType=CHAR}
      		</if>
      		<if test="params.saleAfterRemarks != null and '' != params.saleAfterRemarks" >
        		and a.sale_after_remarks = #{params.saleAfterRemarks,jdbcType=VARCHAR}
      		</if>
      		<if test="params.saleAfterDate != null" >
        		and a.sale_after_date = #{params.saleAfterDate,jdbcType=TIMESTAMP}
      		</if>
      		<if test="params.remarks != null and '' != params.remarks" >
        		and a.remarks = #{params.remarks,jdbcType=VARCHAR}
      		</if>
      		<if test="params.createBy != null" >
        		and a.create_by = #{params.createBy,jdbcType=INTEGER}
      		</if>
      		<if test="params.createDate != null" >
        		and a.create_date = #{params.createDate,jdbcType=TIMESTAMP}
      		</if>
      		<if test="params.updateBy != null" >
        		and a.update_by = #{params.updateBy,jdbcType=INTEGER}
      		</if>
      		<if test="params.updateDate != null" >
        		and a.update_date = #{params.updateDate,jdbcType=TIMESTAMP}
      		</if>
      		<if test="params.delFlag != null and '' != params.delFlag" >
        		and a.del_flag = #{params.delFlag,jdbcType=CHAR}
      		</if>
      		<if test="params.payDate != null" >
        		and a.pay_date = #{params.payDate,jdbcType=TIMESTAMP}
      		</if>
      		<if test="params.deliveryTime != null" >
        		and a.delivery_time = #{params.deliveryTime,jdbcType=TIMESTAMP}
      		</if>
      		<if test="params.createDate30 != null" >
                and a.create_date &lt;= #{params.createDate30,jdbcType=TIMESTAMP}
            </if>
      		<if test="params.merchantId != null" >
        		and a.merchant_id = #{params.merchantId,jdbcType=INTEGER}
      		</if>

			<!-- 会员查询状态标识 -->
			<if test="params.tabFlag != null">
				<if test="params.tabFlag==2">  <!-- 待付款 -->
					and a.order_status = 1 and a.pay_status = 0
				</if>
				<if test="params.tabFlag==3">  <!-- 已支付 或者 待发货-->
					and a.order_status = 1 and a.pay_status = 1
				</if>
				<if test="params.tabFlag==4">  <!-- 待收货 -->
					and a.order_status = 2 and a.pay_status = 1
				</if>
				<if test="params.tabFlag==6">  <!-- 已完成 -->
					and a.order_status = 4 and a.pay_status = 1
				</if>
				<if test="params.tabFlag==7">  <!-- 已取消 -->
					and a.order_status = 5
				</if>
				<if test="params.tabFlag==5">  <!-- 待评价 -->
					and a.order_status = 4 and a.is_eval = 0
				</if>
				<if test="params.tabFlag==9">  <!-- 待收款 -->
					and a.pay_way = 0 and a.pay_status = 0 and o.order_status = 1
				</if>
				<if test="params.tabFlag==8">  <!-- 待回复 -->
					and a.order_status = 4 and a.is_eval = 1
				</if>
				<if test="params.tabFlag==10">  <!-- 现金支付 -->
					and a.pay_way = 0
				</if>
				<if test="params.tabFlag==11">  <!-- 线上支付 -->
					and a.pay_way != 0
				</if>
			</if>

      	</if>
  	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select 
		<include refid="Base_Column_List" />
		from order_main a
		where a.id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
		select 
		<include refid="Base_Column_List" />
		from order_main a 
		where 1=1 
		<include refid="condition" />
	</select>
	<select id="selectCount" resultType="java.lang.Integer" >
	  	select count(1) as s from order_main a where 1=1
	  	<include refid="condition" />
	</select>
	<select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
	  	select 
	  	<include refid="Base_Column_List" />
	  	from order_main a
	  	where 1=1
	  	<include refid="condition" />
	  	<if test="orderByField != null and ''!=orderByField" >
	    	order by ${orderByField} 
	    	<if test="orderByField" >
	      	${orderBy}
	    	</if>
	  	</if>
	  	limit #{page.startRowNum} ,#{page.pageSize}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	  	delete from order_main
	  	where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByPrimarayKeyForModel" parameterType="com.towcent.dist.shop.app.client.mall.dto.OrderMain" >
	  	delete from order_main
	  	where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.towcent.dist.shop.app.client.mall.dto.OrderMain" useGeneratedKeys="true" keyProperty="id">
    	insert into order_main (
					id,
			order_type,
			order_no,
			order_status,
			pay_status,
			pay_way,
			total_amount,
			amount,
			pay_amount,
			pay_inter,
			coupon_amount,
			consignee_name,
			mobile_phone,
			consignee_addr,
			total_qty,
			freight_fee,
			freight_number,
			logistics_no,
			logistics_name,
			is_eval,
			sale_after_remarks,
			sale_after_date,
			remarks,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			pay_date,
			delivery_time,
			merchant_id
    	)
    	values (
					#{id,jdbcType=INTEGER},
			#{orderType,jdbcType=CHAR},
			#{orderNo,jdbcType=VARCHAR},
			#{orderStatus,jdbcType=CHAR},
			#{payStatus,jdbcType=CHAR},
			#{payWay,jdbcType=CHAR},
			#{totalAmount,jdbcType=DECIMAL},
			#{amount,jdbcType=DECIMAL},
			#{payAmount,jdbcType=DECIMAL},
			#{payInter,jdbcType=DECIMAL},
			#{couponAmount,jdbcType=DECIMAL},
			#{consigneeName,jdbcType=VARCHAR},
			#{mobilePhone,jdbcType=VARCHAR},
			#{consigneeAddr,jdbcType=VARCHAR},
			#{totalQty,jdbcType=INTEGER},
			#{freightFee,jdbcType=DECIMAL},
			#{freightNumber,jdbcType=VARCHAR},
			#{logisticsNo,jdbcType=VARCHAR},
			#{logisticsName,jdbcType=VARCHAR},
			#{isEval,jdbcType=CHAR},
			#{saleAfterRemarks,jdbcType=VARCHAR},
			#{saleAfterDate,jdbcType=TIMESTAMP},
			#{remarks,jdbcType=VARCHAR},
			#{createBy,jdbcType=INTEGER},
			#{createDate,jdbcType=TIMESTAMP},
			#{updateBy,jdbcType=INTEGER},
			#{updateDate,jdbcType=TIMESTAMP},
			#{delFlag,jdbcType=CHAR},
			#{payDate,jdbcType=TIMESTAMP},
			#{deliveryTime,jdbcType=TIMESTAMP},
			#{merchantId,jdbcType=INTEGER}
		)
  	</insert>
	<insert id="insertSelective" parameterType="com.towcent.dist.shop.app.client.mall.dto.OrderMain" useGeneratedKeys="true" keyProperty="id" >
    	insert into order_main 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >
      			id,
      		</if>
      		<if test="orderType != null and '' != orderType" >
      			order_type,
      		</if>
      		<if test="orderNo != null and '' != orderNo" >
      			order_no,
      		</if>
      		<if test="orderStatus != null and '' != orderStatus" >
      			order_status,
      		</if>
      		<if test="payStatus != null and '' != payStatus" >
      			pay_status,
      		</if>
      		<if test="payWay != null and '' != payWay" >
      			pay_way,
      		</if>
      		<if test="totalAmount != null" >
      			total_amount,
      		</if>
      		<if test="amount != null" >
      			amount,
      		</if>
      		<if test="payAmount != null" >
      			pay_amount,
      		</if>
      		<if test="payInter != null" >
      			pay_inter,
      		</if>
      		<if test="couponAmount != null" >
      			coupon_amount,
      		</if>
      		<if test="consigneeName != null and '' != consigneeName" >
      			consignee_name,
      		</if>
      		<if test="mobilePhone != null and '' != mobilePhone" >
      			mobile_phone,
      		</if>
      		<if test="consigneeAddr != null and '' != consigneeAddr" >
      			consignee_addr,
      		</if>
      		<if test="totalQty != null" >
      			total_qty,
      		</if>
      		<if test="freightFee != null" >
      			freight_fee,
      		</if>
      		<if test="freightNumber != null and '' != freightNumber" >
      			freight_number,
      		</if>
      		<if test="logisticsNo != null and '' != logisticsNo" >
      			logistics_no,
      		</if>
      		<if test="logisticsName != null and '' != logisticsName" >
      			logistics_name,
      		</if>
      		<if test="isEval != null and '' != isEval" >
      			is_eval,
      		</if>
      		<if test="saleAfterRemarks != null and '' != saleAfterRemarks" >
      			sale_after_remarks,
      		</if>
      		<if test="saleAfterDate != null" >
      			sale_after_date,
      		</if>
      		<if test="remarks != null and '' != remarks" >
      			remarks,
      		</if>
      		<if test="createBy != null" >
      			create_by,
      		</if>
      		<if test="createDate != null" >
      			create_date,
      		</if>
      		<if test="updateBy != null" >
      			update_by,
      		</if>
      		<if test="updateDate != null" >
      			update_date,
      		</if>
      		<if test="delFlag != null and '' != delFlag" >
      			del_flag,
      		</if>
      		<if test="payDate != null" >
      			pay_date,
      		</if>
      		<if test="deliveryTime != null" >
      			delivery_time,
      		</if>
      		<if test="merchantId != null" >
      			merchant_id,
      		</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >
	  			#{id,jdbcType=INTEGER},
	  		</if>
      		<if test="orderType != null and '' != orderType" >
	  			#{orderType,jdbcType=CHAR},
	  		</if>
      		<if test="orderNo != null and '' != orderNo" >
	  			#{orderNo,jdbcType=VARCHAR},
	  		</if>
      		<if test="orderStatus != null and '' != orderStatus" >
	  			#{orderStatus,jdbcType=CHAR},
	  		</if>
      		<if test="payStatus != null and '' != payStatus" >
	  			#{payStatus,jdbcType=CHAR},
	  		</if>
      		<if test="payWay != null and '' != payWay" >
	  			#{payWay,jdbcType=CHAR},
	  		</if>
      		<if test="totalAmount != null" >
	  			#{totalAmount,jdbcType=DECIMAL},
	  		</if>
      		<if test="amount != null" >
	  			#{amount,jdbcType=DECIMAL},
	  		</if>
      		<if test="payAmount != null" >
	  			#{payAmount,jdbcType=DECIMAL},
	  		</if>
      		<if test="payInter != null" >
	  			#{payInter,jdbcType=DECIMAL},
	  		</if>
      		<if test="couponAmount != null" >
	  			#{couponAmount,jdbcType=DECIMAL},
	  		</if>
      		<if test="consigneeName != null and '' != consigneeName" >
	  			#{consigneeName,jdbcType=VARCHAR},
	  		</if>
      		<if test="mobilePhone != null and '' != mobilePhone" >
	  			#{mobilePhone,jdbcType=VARCHAR},
	  		</if>
      		<if test="consigneeAddr != null and '' != consigneeAddr" >
	  			#{consigneeAddr,jdbcType=VARCHAR},
	  		</if>
      		<if test="totalQty != null" >
	  			#{totalQty,jdbcType=INTEGER},
	  		</if>
      		<if test="freightFee != null" >
	  			#{freightFee,jdbcType=DECIMAL},
	  		</if>
      		<if test="freightNumber != null and '' != freightNumber" >
	  			#{freightNumber,jdbcType=VARCHAR},
	  		</if>
      		<if test="logisticsNo != null and '' != logisticsNo" >
	  			#{logisticsNo,jdbcType=VARCHAR},
	  		</if>
      		<if test="logisticsName != null and '' != logisticsName" >
	  			#{logisticsName,jdbcType=VARCHAR},
	  		</if>
      		<if test="isEval != null and '' != isEval" >
	  			#{isEval,jdbcType=CHAR},
	  		</if>
      		<if test="saleAfterRemarks != null and '' != saleAfterRemarks" >
	  			#{saleAfterRemarks,jdbcType=VARCHAR},
	  		</if>
      		<if test="saleAfterDate != null" >
	  			#{saleAfterDate,jdbcType=TIMESTAMP},
	  		</if>
      		<if test="remarks != null and '' != remarks" >
	  			#{remarks,jdbcType=VARCHAR},
	  		</if>
      		<if test="createBy != null" >
	  			#{createBy,jdbcType=INTEGER},
	  		</if>
      		<if test="createDate != null" >
	  			#{createDate,jdbcType=TIMESTAMP},
	  		</if>
      		<if test="updateBy != null" >
	  			#{updateBy,jdbcType=INTEGER},
	  		</if>
      		<if test="updateDate != null" >
	  			#{updateDate,jdbcType=TIMESTAMP},
	  		</if>
      		<if test="delFlag != null and '' != delFlag" >
	  			#{delFlag,jdbcType=CHAR},
	  		</if>
      		<if test="payDate != null" >
	  			#{payDate,jdbcType=TIMESTAMP},
	  		</if>
      		<if test="deliveryTime != null" >
	  			#{deliveryTime,jdbcType=TIMESTAMP},
	  		</if>
      		<if test="merchantId != null" >
	  			#{merchantId,jdbcType=INTEGER},
	  		</if>
    	</trim>
  	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.towcent.dist.shop.app.client.mall.dto.OrderMain" >
    	update order_main 
	    <set >
	      	<if test="id != null" >
	        	id = #{id,jdbcType=INTEGER},
	      	</if>
	      	<if test="orderType != null and '' != orderType" >
	        	order_type = #{orderType,jdbcType=CHAR},
	      	</if>
	      	<if test="orderNo != null and '' != orderNo" >
	        	order_no = #{orderNo,jdbcType=VARCHAR},
	      	</if>
	      	<if test="orderStatus != null and '' != orderStatus" >
	        	order_status = #{orderStatus,jdbcType=CHAR},
	      	</if>
	      	<if test="payStatus != null and '' != payStatus" >
	        	pay_status = #{payStatus,jdbcType=CHAR},
	      	</if>
	      	<if test="payWay != null and '' != payWay" >
	        	pay_way = #{payWay,jdbcType=CHAR},
	      	</if>
	      	<if test="totalAmount != null" >
	        	total_amount = #{totalAmount,jdbcType=DECIMAL},
	      	</if>
	      	<if test="amount != null" >
	        	amount = #{amount,jdbcType=DECIMAL},
	      	</if>
	      	<if test="payAmount != null" >
	        	pay_amount = #{payAmount,jdbcType=DECIMAL},
	      	</if>
	      	<if test="payInter != null" >
	        	pay_inter = #{payInter,jdbcType=DECIMAL},
	      	</if>
	      	<if test="couponAmount != null" >
	        	coupon_amount = #{couponAmount,jdbcType=DECIMAL},
	      	</if>
	      	<if test="consigneeName != null and '' != consigneeName" >
	        	consignee_name = #{consigneeName,jdbcType=VARCHAR},
	      	</if>
	      	<if test="mobilePhone != null and '' != mobilePhone" >
	        	mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
	      	</if>
	      	<if test="consigneeAddr != null and '' != consigneeAddr" >
	        	consignee_addr = #{consigneeAddr,jdbcType=VARCHAR},
	      	</if>
	      	<if test="totalQty != null" >
	        	total_qty = #{totalQty,jdbcType=INTEGER},
	      	</if>
	      	<if test="freightFee != null" >
	        	freight_fee = #{freightFee,jdbcType=DECIMAL},
	      	</if>
	      	<if test="freightNumber != null and '' != freightNumber" >
	        	freight_number = #{freightNumber,jdbcType=VARCHAR},
	      	</if>
	      	<if test="logisticsNo != null and '' != logisticsNo" >
	        	logistics_no = #{logisticsNo,jdbcType=VARCHAR},
	      	</if>
	      	<if test="logisticsName != null and '' != logisticsName" >
	        	logistics_name = #{logisticsName,jdbcType=VARCHAR},
	      	</if>
	      	<if test="isEval != null and '' != isEval" >
	        	is_eval = #{isEval,jdbcType=CHAR},
	      	</if>
	      	<if test="saleAfterRemarks != null and '' != saleAfterRemarks" >
	        	sale_after_remarks = #{saleAfterRemarks,jdbcType=VARCHAR},
	      	</if>
	      	<if test="saleAfterDate != null" >
	        	sale_after_date = #{saleAfterDate,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="remarks != null and '' != remarks" >
	        	remarks = #{remarks,jdbcType=VARCHAR},
	      	</if>
	      	<if test="createBy != null" >
	        	create_by = #{createBy,jdbcType=INTEGER},
	      	</if>
	      	<if test="createDate != null" >
	        	create_date = #{createDate,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="updateBy != null" >
	        	update_by = #{updateBy,jdbcType=INTEGER},
	      	</if>
	      	<if test="updateDate != null" >
	        	update_date = #{updateDate,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="delFlag != null and '' != delFlag" >
	        	del_flag = #{delFlag,jdbcType=CHAR},
	      	</if>
	      	<if test="payDate != null" >
	        	pay_date = #{payDate,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="deliveryTime != null" >
	        	delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="merchantId != null" >
	        	merchant_id = #{merchantId,jdbcType=INTEGER},
	      	</if>
    	</set>
    	where id = #{id,jdbcType=INTEGER}
  	</update>
  	<update id="updateByPrimaryKey" parameterType="com.towcent.dist.shop.app.client.mall.dto.OrderMain" >
    	update order_main 
    	set 
      	      		id = #{id,jdbcType=INTEGER},
      		order_type = #{orderType,jdbcType=CHAR},
      		order_no = #{orderNo,jdbcType=VARCHAR},
      		order_status = #{orderStatus,jdbcType=CHAR},
      		pay_status = #{payStatus,jdbcType=CHAR},
      		pay_way = #{payWay,jdbcType=CHAR},
      		total_amount = #{totalAmount,jdbcType=DECIMAL},
      		amount = #{amount,jdbcType=DECIMAL},
      		pay_amount = #{payAmount,jdbcType=DECIMAL},
      		pay_inter = #{payInter,jdbcType=DECIMAL},
      		coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      		consignee_name = #{consigneeName,jdbcType=VARCHAR},
      		mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      		consignee_addr = #{consigneeAddr,jdbcType=VARCHAR},
      		total_qty = #{totalQty,jdbcType=INTEGER},
      		freight_fee = #{freightFee,jdbcType=DECIMAL},
      		freight_number = #{freightNumber,jdbcType=VARCHAR},
      		logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      		logistics_name = #{logisticsName,jdbcType=VARCHAR},
      		is_eval = #{isEval,jdbcType=CHAR},
      		sale_after_remarks = #{saleAfterRemarks,jdbcType=VARCHAR},
      		sale_after_date = #{saleAfterDate,jdbcType=TIMESTAMP},
      		remarks = #{remarks,jdbcType=VARCHAR},
      		create_by = #{createBy,jdbcType=INTEGER},
      		create_date = #{createDate,jdbcType=TIMESTAMP},
      		update_by = #{updateBy,jdbcType=INTEGER},
      		update_date = #{updateDate,jdbcType=TIMESTAMP},
      		del_flag = #{delFlag,jdbcType=CHAR},
      		pay_date = #{payDate,jdbcType=TIMESTAMP},
      		delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      		merchant_id = #{merchantId,jdbcType=INTEGER} 
    	where id = #{id,jdbcType=INTEGER}
  	</update>


	<select id="queryOrderNum" resultType="map" parameterType="map">
		select count(1) as 'num', 'totalNum' as 'type' from `order_main` a
		where 1=1
		<include refid="condition" />  <!-- 所有 -->
		UNION
		select count(1) AS 'num', 'payNum' AS 'type' from `order_main` a
		where 1=1
		<include refid="condition" /> <!-- 待付款 -->
		and a.`order_status` = 1 and a.`pay_way` = 1 and a.`pay_status` = 0
		UNION
		SELECT COUNT(1) AS 'num', 'deliveryNum' AS 'type' FROM `order_main` a
		where 1=1
		<include refid="condition" /> <!-- 待发货 -->
		and a.`order_status` = 1 and a.`pay_status` = 1
		UNION
		select count(1) AS 'num', 'evlNum' AS 'type' from `order_main` a
		where 1=1
		<include refid="condition" /> <!-- 待评价 -->
		and a.`order_status` = 4 and a.`is_eval` = 0
		UNION
		select count(1) AS 'num', 'overNum' AS 'type' from `order_main` a
		where 1=1
		<include refid="condition" /> <!-- 已完成 -->
		and a.`order_status` = 4
		UNION
		SELECT COUNT(1) AS 'num', 'receNum' AS 'type' FROM `order_main` a
		where 1=1
		<include refid="condition" /> <!-- 已发货 -->
		and a.`order_status` = 2 and a.`pay_status` = 1
	</select>

</mapper>